/* For small laptop screens */
@media screen and (max-width: 1200px){
    .banner-section{
        gap: 35px;
    }
    .gamers-section{
        width: auto;
    }
    .gamers-image{
        width:65%;
    }
    .play-game{
        flex-direction: column;
        align-items: flex-start;
    }
    .play-game-image{
        order: 2;
    }
    .play-game-content{
        width: 45%;
        text-align: center;
        margin:  0 auto;
        margin-bottom: 70px;
        order: 1;
     }

    .play-game-image{
        padding-left: 75px;
    }
    
} 
@media screen and (max-width:992px) {
    .gaming-types,.capsule{
        gap: 10px;
    }
    .capsule img{
        height: 30px;
    }
    .capsule p{
        font-size: 0.75rem;
        margin: 7px 0;
    }
}

/* For Tablet */
@media screen and (max-width: 768px) {
    .banner-section{   
       flex-direction: column;
       background-position: bottom;
    }
    .banner-images{
        order: 1;
    }
    .banner-content{
        width: 400px;
        order: 2;
    }
    .gamers-section{
        flex-direction: column;
    }
    .gamers-image, .gamers-content{
        width: auto;
    }
    .gamers-content{
        text-align: center;
    }
    .play-game{
        align-items: flex-end;
    }
    .play-game-image{
        padding-left: 5px;
        width: 70%;
        margin: 0 auto;
    }
    .play-game-image .big-image{
        width: 90%;
        
    }
    .play-game-image .small-image {
        position: absolute;
        width: 200px;
        top: 65%;
        left: 70%;
    }
    .play-game-content{
        width: 60%;
    }
    .gaming-types,.capsule{
        gap: 10px;
    }
    .capsule p{
        font-size: 1rem;
    }

}
/* for Mobile devices */
@media screen and (max-width: 576px) {
    nav,.nav-menu{
        flex-direction: column;
    }
    .banner-content{
        width: auto;
    }
    .banner-content p{
        font-size: 1rem;
    }
    .banner-subtitle{
        font-size: 2rem;
    }
    .banner-main-title{
        font-size: 4rem;
    }
    .btn{
        padding: 15px 30px;
        font-size: 1rem;
    }
    .gamers-section{
        padding: 0 10px;
    }
    .section-heading{
        padding: 10px;
    }
    .section-heading h2{
        width: auto;
        font-size:2rem;
    }
    .section-heading p{
        margin: 10px 0;
        font-size: 1rem;
    }
    .video-container{
        padding: 0 20px;
        grid-template-columns: 1fr;
    }

    .play-game-content {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    .play-game-image{
        width: auto;
    }
    .play-game-content h2 {
        font-size: 2rem;
    }
    .play-game-image .small-image {
        width: 100px;
        left: 75%;
        top: 75%;
    }
    .capsule{
        padding: 6px;
    }
    .capsule img{
        height: 20px;
    }
    .capsule p{
        font-size: 0.5rem;
        margin: 6px 0;
    }
}