@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


:root{
    --text-black:#0B0223;
    --text-gray:#534C64;
    --gradient-text: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body{
    font-family: 'Work Sans', sans-serif;
}

.image-container img{
    width: 100%;
}

/* Navbar style starts here */
nav,.nav-logo,.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-logo img{
    height: 40px;
}
.nav-menu a{
    text-decoration: none;
    color: #3C354F ;
}
    .nav-follow-button{
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(11, 2, 35, 0.10);
}
/* Navbar style ends here */


/* Banner section styles starts here */

.banner-section{
    display: flex;
    align-items: center;
    gap: 70px;
    background-image: url('../images/Group-14.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-content{   
    width: 500px;
    margin: 0 auto;
    order: 1;
}
.banner-content p{
    font-size: 20px;
    font-weight: 500;
}
.banner-subtitle{
    color: var(--text-black);
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.gradient-text{
    background-image: var(--gradient-text);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-main-title{
    font-weight: 800;
    font-size: 95px;
    margin: 0 0 24px;
    
}
.banner-icon{
    margin-right:12px ;
}
.btn{
    margin-top: 20px;
    padding: 20px 40px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn-primary{
    background-color: #FF42A5;
}
.btn-primary:hover{
    border: 1px solid  #FF42A5;
    color: #FF42A5;
    background-color: #fff;
}
.btn-secondary{
    margin-left: 24px;
    background-color: #4EC5F7; 
}
.btn-secondary:hover{
    border: 1px solid  #4EC5F7;
    color: #4EC5F7;
    background-color: #fff;
}
.banner-images{
    order: 2;
}
.banner-images img{
    width: 100%;
}

/* Banner section styles ends here */

/* Gamers section styles starts here */

.gamers-section{
    display: flex;
    max-width: 1440px;
    margin: 25px auto;
    /* padding: 0 25px; */
    align-items: center;
    padding: 0 10px;
}

.gamers-content{
    width: 40%;
    text-align: right;
}

.gamers-content h2{
    font-size: 48px;
    margin: 0px;
}
.gamers-content .gamers-description {
    color: var(--text-gray);
    margin: 24px 0 12px;
}
.gamers-footer{
    color: var(--text-gray);
}
.gamers-footer-subtitle{
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.gamers-footer-title{
    margin-top: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/* Gamers section styles ends here */


/* Game Video Section styles starts here */

.section-heading{
    text-align: center;
    
}
.section-heading h2{
    color:var(--text-black);
    width: 655px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;

}
.section-heading p{
    color: var(--text-gray);
    margin: 16px 0;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
}
.games-video{
    max-width: 1440px;
    margin: 120px auto 0;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px
}

/* Game Video Section styles ends here */

/* play games online styles starts here */
.play-game{
    max-width: 1440px;
    margin: 120px auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.play-game-image{
    position: relative;
    order: 1;
}
.big-image {
    /* width: 80%; */
}

.play-game-image .small-image {
    position: absolute;
    top: 65%;
    left: 75%;
}
.play-game-content{
    width: 30%;
    order: 2;
}
.play-game-content h2{
    color: var(--text-black);
    margin: 0 0 24px;
    font-weight: 700;
    line-height: 60px;
    font-size: 48px;

}
.play-game-content p{
    color: var(--text-gray);
    line-height: 30px;
    font-size: 18px;
}

.small-image img{
    width: 100%;
}

/* play games online styles ends here */

/* Types of games styles starts here */

.gaming-types{
    max-width: 1440px;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    row-gap: 30px;
}

.capsule{
    display: flex;
    gap: 16px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: color 0.2s ease-in-out, border 0.5s ease-in-out;
    
}
.capsule img{
    border-radius: 50px;
}
.capsule:hover{
    border: 1px solid #FF42A5;
    cursor: pointer;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    color: transparent;
    
}


/* Types of games styles ends here */